---
interface Props {
    message: string;
}
const { message } = Astro.props;
---

<div class="flex flex-col items-center rounded-full bg-red-600 px-16 py-8">
    <span class="text-4xl font-extrabold">Error:</span>
    <span class="text-center text-2xl font-bold">{message}</span>
</div>
